.Flowers Bloom
{
    background-color: red;
    height:300xp;
    margin:0xp;
    padding:20xp;
}
.corpo
{
    background-color: #F5F5F5;
}

div
{
    background-color:blue;
    margin-top:100xp;
    border: 2xp solid black;
}