.Flowers Bloom
{
    background-color: rgb(183, 106, 106);
    height:300xp;
    margin:0xp;
    padding:20xp;
}
.corpo
{
    background-color: #AE7D7D;

}

div
{
    
    margin-top:100xp;
    border: 2xp solid black;
}
.itensmenu{


}
.barrasuperior{
    background-color: #AE7D7D;
    height:250px;
    width:250px;
}
.caixasflor{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;

}
.nomeflor{
    height: flor;

}